@import "tailwindcss";

@theme {
  --color-brand-primary: #d3ae41;
  --color-brand-dark: #242c33;
  --color-brand-secondary: #746131;
  --color-brand-light: #fdfaf3;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* CKEditor Overrides */
.ck-editor__editable_inline {
  min-height: 200px !important;
  max-height: 500px;
  color: #111827 !important; /* text-gray-900 */
  background-color: white !important;
  padding: 0 1rem !important;
}

/* Reset typography inside editor */
.ck-content h2 {
  font-size: 1.5rem !important;
  font-weight: bold !important;
  margin-bottom: 0.5rem !important;
}

.ck-content h3 {
  font-size: 1.25rem !important;
  font-weight: bold !important;
  margin-bottom: 0.5rem !important;
}

.ck-content ul {
  list-style-type: disc !important;
  padding-left: 1.5rem !important;
  margin-bottom: 1rem !important;
}

.ck-content ol {
  list-style-type: decimal !important;
  padding-left: 1.5rem !important;
  margin-bottom: 1rem !important;
}

.ck-content p {
  margin-bottom: 1rem !important;
}

.ck-content blockquote {
  border-left: 4px solid #e5e7eb !important;
  padding-left: 1rem !important;
  font-style: italic !important;
  color: #4b5563 !important;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 8s linear infinite;
}
